################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QR/FileContentIndex/774194da-c3b7-4fb2-a3de-5f7aa932b90b.vsidx
