################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QR/FileContentIndex/774194da-c3b7-4fb2-a3de-5f7aa932b90b.vsidx
/.vs/QR/FileContentIndex/722e994e-4fc2-4253-a8c2-581ae1cd823d.vsidx
